@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p style="color: green; font-weight: bold;">
        @ViewBag.DbMessage
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
            </div>
            <div class="col-xl-4 p-2">
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control w-100" />
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control w-100" />
                    </div>
                    <input type="submit" class="btn btn-success w-100">
                    Login
                    </input>
                </form>
            </div>
            <div class="col-xl-4">
            </div>
        </div>
    </div>


</div>
